.headerContent,
.logo,
.connectButton,
.chart,
.chartCount {
  display: flex;
  align-items: center;
}

.logo,
.chart {
  cursor: pointer;
}

.headerContent {
  width: 500px;
}

.headerContent:first-child {
  justify-content: start;
}

.headerContent:last-child {
  justify-content: end;
}

/************* Logo *************/

.logo {
  text-decoration: none;
  color: white;
}

.logo img {
  height: 50px;
}

.logo h1 {
  font-family: "PT Sans", sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 25px;
  margin-left: 5px;
}

/******** Connect button ********/

.connectButton {
  height: 30px;
  border: none;
  padding: 0 10px 0 5px;
  background-color: white;
  color: var(--primary-color);
  border-radius: 500px;
  margin-right: 50px;
  transition: all 200ms;
}

.connectButton svg {
  font-size: 24px;
  margin-right: 10px;
}

.connectButton:hover {
  background-color: var(--secondary-color);
  color: white;
}

/************ Chart ************/

.chart .chartCount {
  width: 30px;
  height: 30px;
  font-size: 20px;
  color: black;
  border-radius: 100%;
  background-color: white;
  justify-content: center;
  margin: 0 5px;
}
