.headerContent,
.logo,
.connectButton,
.chart,
.chartCount {
  display: flex;
  align-items: center;
}

.logo,
.chart {
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: 0 20px;
}

.headerContent:last-child {
  justify-content: end;
}

/************* Logo *************/

.logo {
  text-decoration: none;
  color: white;
}

.logo img {
  height: 50px;
}

.logo h1 {
  font-family: "PT Sans", sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 25px;
  margin-left: 5px;
}

/******** Connect button ********/

.connectButton {
  height: 30px;
  border: none;
  padding: 0 10px 0 5px;
  background-color: white;
  color: var(--primary-color);
  border-radius: 500px;
  margin-right: 30px;
  transition: all 200ms;
}

.connectButton svg {
  font-size: 24px;
  margin-right: 10px;
}

.connectButton:hover {
  background-color: var(--secondary-color);
  color: white;
}

/************ Chart ************/

.chart {
  width: 40px;
  height: 40px;
  font-size: 20px;
  color: black;
  border-radius: 100%;
  background-color: white;
  justify-content: center;
  margin: 0 5px;
  position: relative;
  transition: all 200ms;
}

.chart:hover {
  background-color: var(--secondary-color);
  color: white;
}

.chartCount {
  width: 20px;
  height: 20px;
  font-size: 15px;
  color: white;
  border-radius: 100%;
  background-color: var(--secondary-color);
  justify-content: center;
  position: absolute;
  top: -5px;
  right: -5px;
}

@media screen and (max-width: 1140px) {
  .logo h1 {
    font-size: 2vw;
    margin-left: 5px;
  }
}

@media screen and (max-width: 1000px) {
  .header {
    padding: 0 2vw;
  }

  .headerContent {
    width: max-content;
  }

  .connectButton {
    font-size: 1.5vw;
    margin-right: 1vw;
  }

  .connectButton svg {
    font-size: 24px;
    margin-right: 10px;
  }
}

@media screen and (max-width: 900px) {
  .logo h1 {
    display: none;
  }
}

@media screen and (max-width: 730px) {
  .header {
    flex-wrap: wrap;
    padding-bottom: 20px;
  }

  .header > :nth-child(2) {
    margin: 0 auto;
    order: 4;
  }

  .headerContent {
    margin-bottom: 10px;
  }

  .headerContent:first-child {
    width: 30%;
  }

  .headerContent:last-child {
    width: 70%;
  }

  .connectButton {
    font-size: 10px;
    margin-right: 2vw;
  }
}

@media screen and (max-width: 400px) {
  .headerContent:first-child {
    width: 55%;
  }

  .headerContent:last-child {
    width: 45%;
  }

  .connectButton {
    padding: 3px;
  }

  .connectButton svg {
    margin: 0;
  }

  .connectButton p,
  .chart p {
    display: none;
  }
}
