.mainBlock {
  flex: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-color);
}

.mainBlock p {
  margin-top: 30px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;
  color: white;
}

.mainBlock a {
  color: white;
  text-decoration: underline;
}

@media screen and (max-width: 1500px) {
  .mainBlock p {
    font-size: 1.3vw;
    line-height: 2vw;
  }
}

@media screen and (max-width: 950px) {
  .logo {
    display: none;
  }
  .mainBlock p {
    margin: 10px;
    font-size: 12px;
    line-height: 20px;
  }
}
