.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin-top: 50px;
}

.loading p {
  margin-left: 10px;
  color: var(--primary-color);
}

.articleList {
  display: flex;
  flex-wrap: wrap;
}

.articleItem {
  margin: 20px auto;
  background-color: white;
  border-radius: 5px;
  border: solid 1px var(--tertiary-color);
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s;
}

.articleItem:hover {
  transform: scale(110%);
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.articleImageBorder {
  width: 30vw;
  height: 18vw;
  max-width: 500px;
  max-height: 300px;
  position: relative;
}

.articleItem img {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.articleName {
  font-size: 20px;
  font-weight: bold;
  margin: 5px;
}

.priceAndStockLine {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
  font-size: 18px;
}

.inStock {
  font-weight: bold;
  color: green;
}

.lessThan {
  font-weight: bold;
  color: orange;
}

.outOfStock {
  font-weight: bold;
  color: red;
}

.ratingLine {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 5px;
}

.ratingLine span {
  font-size: 24px;
  width: max-content;
}

.voteNumber {
  font-style: italic;
  font-size: 12px;
  margin-right: 10px;
  color: gray;
}

@media screen and (max-width: 1300px) {
  .articleImageBorder {
    width: 40vw;
    height: 24vw;
  }

  .articleName {
    font-size: 1.8vw;
  }

  .priceAndStockLine {
    font-size: 1.5vw;
  }

  .voteNumber {
    font-size: 1vw;
  }
  .ratingLine span {
    font-size: 1.8vw;
  }
}

@media screen and (max-width: 850px) {
  .articleItem {
    margin: 2vw auto;
  }
  .articleImageBorder {
    width: 100vw;
    height: 60vw;
  }

  .articleName {
    font-size: 20px;
  }

  .priceAndStockLine {
    font-size: 18px;
  }

  .voteNumber {
    font-size: 12px;
  }

  .ratingLine span {
    font-size: 24px;
  }
}

@media screen and (max-width: 400px) {
  .articleItem:hover {
    transform: scale(105%);
  }

  .articleImageBorder {
    width: 100vw;
    height: 60vw;
  }

  .articleName {
    font-size: 5vw;
  }

  .priceAndStockLine {
    font-size: 4.5vw;
  }

  .voteNumber {
    font-size: 3vw;
  }

  .ratingLine span {
    font-size: 6vw;
  }
}

@media screen and (max-width: 305px) {
  .priceAndStockLine {
    font-size: 4.3vw;
  }
}

@media screen and (max-width: 215px) {
  .priceAndStockLine {
    font-size: 4vw;
  }
}
