.breadcrumbs {
  border-bottom: solid var(--secondary-color) 3px;
  margin: 10px auto 20px;
  height: 30px;
}

.breadcrumbs * {
  color: var(--secondary-color);
  font-size: 18px;
  font-weight: bold;
}

.breadcrumbs ol {
  display: flex;
  align-items: center;
}

.breadcrumbs li:not(li:first-of-type):before {
  content: ">";
  margin: 0 10px;
}
