.googleButton,
.facebookButton {
  margin-top: 20px;
  width: 250px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.facebookButton {
  font-size: 14px;
  border: none;
  background-color: #3b5998;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px 0px,
    rgba(0, 0, 0, 0.24) 0px 0px 1px 0px;
  border-radius: 2px;
  border: 1px solid transparent;
}

.facebookButton svg {
  font-size: 20px;
  margin-right: 20px;
}
