.notFoundPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 98vh;
  height: max-content !important;
}

.notFoundPage p {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

.notFoundPage p:first-of-type {
  margin-top: 30px;
}

.notFoundPage a {
  color: var(--secondary-color);
}

.notFoundPage a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 950px) {
  .notFoundPage p {
    font-size: 6vw;
  }
}
