.contactPage form,
.formGroup {
  display: flex;
  flex-direction: column;
}

.contactPage form {
  width: 85%;
  margin: auto;
}

.formGroup {
  margin-bottom: 10px;
}

.formGroup input,
.formGroup textarea {
  border: solid 1px gray;
  border-radius: 5px;
}

.formGroup label {
  margin-bottom: 2px;
}

.formLine {
  display: flex;
  align-items: center;
}

.errorField,
.errorFieldII {
  color: red;
  background-color: pink;
  padding: 5px 10px;
  width: max-content;
}

.errorField {
  animation: errorEntrance 0.2s ease 0s 1 normal forwards;
}

.errorFieldII {
  animation: errorEntranceII 0.2s ease 0s 1 normal forwards;
}

@keyframes errorEntrance {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes errorEntranceII {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.contactPage form button {
  width: 100px;
  height: 30px;
  color: white;
  background-color: var(--secondary-color);
  border: none;
  border-radius: 500px;
  transition: all 200ms;
}

.contactPage form button:hover {
  color: var(--primary-color);
  background-color: var(--tertiary-color);
}
