.normalField {
  margin-bottom: 10px;
  width: 100%;
}

.contactPage form,
.normalField {
  display: flex;
  flex-direction: column;
}

.contactPage form {
  width: 85%;
  margin: auto;
}

.formLine {
  display: flex;
  align-items: center;
}
.contactPage form button {
  width: 100px;
  height: 30px;
  color: white;
  background-color: var(--secondary-color);
  border: none;
  border-radius: 500px;
  transition: all 200ms;
}

.contactPage form button:hover {
  color: var(--primary-color);
  background-color: var(--tertiary-color);
}
