:root {
  --primary-color: #272727;
  --secondary-color: #cc0023;
  --tertiary-color: #e5e5e5;

  --header-height: 60px;
  --footer-height: 80px;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  background-color: var(--tertiary-color);
}

header,
footer {
  background-color: var(--primary-color);
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

button,
a,
.item {
  cursor: pointer;
}

ul,
ol {
  list-style: none;
}

p {
  word-wrap: break-word;
}

a {
  text-decoration: none;
  color: black;
}

header {
  height: var(--header-height);
}

main {
  min-height: calc(100vh - (var(--header-height) + var(--footer-height)));
  padding: 1vh 5%;
  margin: auto;
  width: 80%;
  background-color: white;
}

input:not(input[type="checkbox"], input[type="radio"]) {
  height: 30px;
  padding: 0 6px;
}

input:not(input[type="checkbox"], input[type="radio"]):focus,
textarea:focus {
  outline: none;
  border: solid 2px var(--secondary-color) !important;
  box-shadow: 0 0 5px var(--secondary-color);
}

textarea {
  font-size: 12px;
  padding: 6px;
  resize: none;
}

footer {
  height: var(--footer-height);
}

@media screen and (max-width: 1300px) {
  main {
    padding: 20px 5%;
    width: 100%;
  }
}

