@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #272727;
  --secondary-color: #cc0023;
  --tertiary-color: #e5e5e5;

  --header-height: 60px;
  --footer-height: 80px;
}

*,
::before,
::after {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: var(--tertiary-color);
}

/* sizing */

header {
  height: var(--header-height);
}

main {
  min-height: calc(100vh - (var(--header-height) + var(--footer-height)));
}

footer {
  height: var(--footer-height);
}

/* colors apply */

.bg-primary,
.hover-bg-primary:hover {
  background-color: var(--primary-color);
}

.bg-secondary,
.hover-bg-secondary:hover {
  background-color: var(--secondary-color);
}

.bg-tertiary,
.hover-bg-tertiary:hover {
  background-color: var(--tertiary-color);
}

.text-primary,
.hover-text-primary:hover {
  color: var(--primary-color);
}

.text-secondary,
.hover-text-secondary:hover {
  color: var(--secondary-color);
}

.text-tertiary,
.hover-text-tertiary:hover {
  color: var(--tertiary-color);
}

.border-primary {
  border-color: var(--primary-color);
}

.border-secondary {
  border-color: var(--secondary-color);
}

.border-tertiary {
  border-color: var(--tertiary-color);
}

h1 {
  font-family: "PT Sans", sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 25px;
  margin-left: 5px;
}

/* animation */

.errorField {
  animation: errorEntrance 0.2s ease 0s 1 normal forwards;
}

@keyframes errorEntrance {
  0% {
    transform: translateX(100px);
  }

  33% {
    transform: translateX(-80px);
  }

  66% {
    transform: translateX(40px);
  }

  100% {
    transform: translateX(0);
  }
}
