@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #272727;
  --secondary-color: #cc0023;
  --tertiary-color: #e5e5e5;

  --header-height: 60px;
  --footer-height: 80px;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

header,
.sideBar,
footer {
  background-color: var(--primary-color);
}

header {
  height: var(--header-height);
}

body {
  background-color: var(--tertiary-color);
}

.menuIcon:hover,
.closeMenuIcon:hover,
.searchButton,
.chart:hover,
.chartCount,
.connectButton:hover,
.accountFormAside {
  background-color: var(--secondary-color);
}

.sideBar a:hover {
  color: var(--secondary-color);
  background-color: rgba(0, 0, 0, 0.2);
}

.notFoundPage {
  min-height: 98vh;
}

.notFoundPageLink {
  color: var(--secondary-color);
}

h1 {
  font-family: "PT Sans", sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 25px;
  margin-left: 5px;
}

main {
  min-height: calc(100vh - (var(--header-height) + var(--footer-height)));
}

footer {
  height: var(--footer-height);
}
