.registerPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 98vh;
}

.registerPage form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.registerPage form input {
  width: 100%;
}

.connectRegisterWindow {
  width: 70%;
  margin-bottom: auto;
  display: flex;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px 0px,
    rgba(0, 0, 0, 0.24) 0px 0px 1px 0px;
}

.registerSide {
  flex: 4;
  padding: 50px;
}

.registerSide h2 {
  margin-bottom: 40px;
  color: var(--secondary-color);
  font-size: 30px;
}

.normalField {
  margin-bottom: 20px;
  width: 100%;
}

.registerSide button[type="submit"] {
  width: 100px;
  height: 30px;
  color: white;
  background-color: var(--secondary-color);
  border: none;
  border-radius: 500px;
  transition: all 200ms;
}

.registerSide button[type="submit"]:hover {
  color: var(--primary-color);
  background-color: var(--tertiary-color);
}

.or {
  margin-top: 20px;
  color: gray;
}

@media screen and (max-width: 1300px) {
  .registerPage {
    height: 94.8vh;
  }

  .connectRegisterWindow {
    width: 100%;
    margin-top: 20px;
  }

  .registerSide {
    padding: 5vw;
  }

  .or {
    margin-top: 5vw;
  }
}

@media screen and (max-width: 950px) {
  .connectRegisterWindow {
    width: 70%;
    flex-direction: column-reverse;
  }

  .registerSide h2 {
    margin-bottom: 5vw;
    font-size: 5vw;
  }
}

@media screen and (max-width: 600px) {
  .connectRegisterWindow {
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .registerSide h2 {
    font-size: 20px;
  }
}
